$yellow-color: #f1dea5;
$yellow-bg-color: #f5edd5;
$yellow-btn-color: #f0e9cf;
$yellow-border-color: #eadaa9;

$brown-title-color: #1e1e1e;
$brown-title-second-color: #1c1a13;
$brown-text-color: #2c281b;