.header {
	display: flex;
	justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
	
  @include respond-to(desktop) {
		justify-content: flex-start;
    width: 1040px;
    height: 150px;
  }

  &__logo-wrap {
		width: 100px;
		height: 100px;

    @include respond-to(desktop) {
			width: 145px;
			height: 145px;
      margin-right: 100px;
    }
  }

  &__toggle {
    width: 40px;
		height: 40px;
		padding-top: 9px;
    background-color: #ffffff;
		box-shadow: 2.294px 3.277px 1.84px 0.16px rgba(0, 0, 0, 0.15);
		
		&-item {
			width: 30px;
			height: 4px;
			margin: auto;
			margin-bottom: 5px;
			border-radius: 4px;
			background-color: #d9c88b;

			&:last-child {
				margin-bottom: 0;
			}
		}

    @include respond-to(desktop) {
      display: none;
    }
  }

  &__nav-list {
    display: none;

    @include respond-to(desktop) {
      display: flex;
      flex-shrink: 0;
    }
  }

  &__nav-item {
    @include respond-to(desktop) {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__nav-item-link {
    @include respond-to(desktop) {
      display: block;
      padding: 10px 20px;
      background-color: $yellow-color;
      font-size: 23px;

      &:hover {
        background-color: #d9c88b;
      }
    }
  }
}
