.showroom {
  position: relative;
  padding-top: 20px;
  padding-bottom: 60px;
  background-color: #fdfcef;
  z-index: -1;

  @include respond-to(desktop) {
    padding-top: 70px;
    padding-bottom: 120px;

    &::before {
      content: "";
      position: absolute;
      top: -130px;
      left: 0;
      height: 130px;
      width: 100%;
      z-index: -1;
      background-color: #fdfcef;
    }
  }

  &__wrap {
    max-width: 320px;
    margin: auto;

    @include respond-to(desktop) {
      max-width: 100%;
    }
  }

  &__title-wrap {
    position: relative;
    max-width: 300px;
    margin: auto;

    @include respond-to(desktop) {
      max-width: 1040px;

      &::before {
        content: "";
        position: absolute;
        top: -125px;
        right: -177px;
        z-index: 0;
        width: 242px;
        height: 188px;
        background-image: url(../img/circles.png);
      }
    }
  }

  &__title-num {
    @include respond-to(desktop) {
      margin-right: 25px;
    }
  }

  &__content-wrap {
    @include respond-to(desktop) {
      display: flex;
      flex-wrap: wrap;
      max-width: 1310px;
      margin: auto;
      overflow: hidden;
    }
  }

  &__content-row {
    overflow: hidden;
    
    @include respond-to(desktop) {
      flex-shrink: 0;
      display: flex;

      &:nth-child(1) {
        align-items: flex-end;
      }

      &:nth-child(3) {
        margin-top: -90px;
      }
    }
  }

  &__img-wrap {
    transform: translateX(-50%);
    margin-bottom: -5px;

    &--fix {
      position: relative;
      top: 2px;
    }
    
    @include respond-to(desktop) {
      transform: none;
    }
  }

  &__steps {
    background-color: #bfaf7a;
    color: #ffffff;
    padding: 10px;
    max-width: 610px;
    box-shadow: 0px 0px 24.84px 2.16px rgba(0, 0, 1, 0.13);
    
    @include respond-to(desktop) {
      position: relative;
      top: -40px;
      right: 40px;
      padding: 20px;
    }
  }

  &__steps-wrap {
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.5);

    @include respond-to(desktop) {
      padding-top: 50px;
      padding-left: 35px;
      padding-right: 35px;
      padding-bottom: 40px;
    }
  }

  &__steps-title {
    display: block;
    margin-bottom: 30px;
    font-family: "VogueHighline", serif;
    font-size: 24px;
    
    @include respond-to(desktop) {
      font-size: 35px;
    }
  }

  &__steps-item {
    margin-bottom: 25px;
    font-weight: 100;
    font-size: 16px;
    
    @include respond-to(desktop) {
      font-size: 18px;
    }
  }
}
