.special {
  padding-top: 20px;
  padding-bottom: 40px;
  
  @include respond-to(desktop) {
    padding-top: 0;
    padding-bottom: 100px;
    overflow: hidden;
    background-color: #fdfcef;
  }

  &__wrap {
    max-width: 320px;
    margin: auto;

    @include respond-to(desktop) {
      position: relative;
      max-width: 1040px;
      padding-top: 90px;
      padding-left: 100px;
      padding-bottom: 100px;
      background-color: #ffffff;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 100%;
        bottom: 0;
        background-color: #ffffff;
        width: 9999px;
        height: 100%;
        z-index: 1;
      }
    }
  }

  &__slider {
    position: relative;
  }

  &__slide {
    &--active {
      display: block;
    }

    &--hidden {
      display: none;
    }

    @include respond-to(desktop) {
      display: flex;
      align-items: flex-start;
      width: 780px;
      margin: auto;
      margin-bottom: 85px;

      &--active {
        display: flex;
      }

      &--hidden {
        display: none;
      }
    }
  }

  &__slider-arrow {
    position: absolute;
    top: 330px;
    width: 32px;
    height: 32px;
    border: 1px solid #c0ba9e;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }

    &--prev::before,
    &--prev::after,
    &--next::before,
    &--next::after {
      position: absolute;
      content: "";
      top: 18px;
      right: 0;
      height: 2px;
      width: 12px;
      background-color: #c0ba9e;
    }

    &--prev::before,
    &--next::before {
      right: 10px;
      transform: rotate(45deg);
    }

    &--prev::after,
    &--next::after {
      top: 10px;
      right: 10px;
      transform: rotate(-45deg);
    }

    &--next::after {
      top: 18px;
      right: 9px;
    }

    &--next::before {
      top: 10px;
      right: 9px;
    }

    @include respond-to(desktop) {
      top: 155px;
    }
  }

  &__slider-arrow--next {
    right: 0;
  }

  &__gallery {
    @include respond-to(desktop) {
      display: flex;
      width: 50%;
    }
  }

  &__desc {
    @include respond-to(desktop) {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__num {
    position: relative;
    width: 30px;
    height: 25px;
    background-color: #bfaf7a;
    color: #ffffff;
    font-size: 20px;
    font-family: "VogueHighline", serif;
    text-align: center;
    z-index: 2;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -100px;
      width: 230px;
      height: 2px;
      margin-top: 0;
      background-color: #bfaf7a;
      z-index: -1;
    }

    @include respond-to(desktop) {
      margin-top: 0;

      &::before {
        left: -130px;
        width: 290px;
      }
    }
  }

  &__name-wallpaper {
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 10px;
    font-family: "VogueHighline", serif;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    
    @include respond-to(desktop) {
      width: 330px;
      font-size: 25px;
    }
  }

  &__manufacturer {
    display: block;
    width: 300px;
    margin-bottom: 25px;
    font-family: "VogueHighline", serif;
    font-size: 16px;
    text-align: center;
    color: #666666;

    @include respond-to(desktop) {
    }
  }

  &__desc-text {
    width: 300px;
    margin: auto;
    margin-bottom: 25px;
    font-weight: 100;
    text-align: center;
    
    @include respond-to(desktop) {
      width: 330px;
    }
  }

  &__warranty {
    display: block;
    width: 265px;
    height: 30px;
    margin: auto;
    margin-bottom: 20px;
    line-height: 26px;
    color: #bfaf7a;
    border: 1px solid #bfaf7a;
    font-family: "VogueHighline", serif;
    font-size: 20px;
    text-align: center;
    
    @include respond-to(desktop) {
      margin-bottom: 30px;
    }
  }

  &__price {
    display: block;
    text-align: center;
    margin-bottom: 10px;
    font-family: "VogueHighline", serif;
    font-weight: 700;
    font-size: 16px;

    @include respond-to(desktop) {
    }
  }

  &__footnote {
    display: block;
    text-align: center;
    font-weight: 100;
    font-size: 14px;
    @include respond-to(desktop) {
    }
  }

  &__input {
    @include respond-to(desktop) {
      padding-left: 30px;
      margin-right: 15px;
    }
  }

  &__btn {
    @include respond-to(desktop) {
      margin: 0;
      margin-left: auto;
    }
  }

  &__form-wrap {
    @include respond-to(desktop) {
      display: flex;
    }
  }

  &__form {
    position: relative;
    display: none;
    flex-direction: column;
    padding-top: 45px;
    padding-bottom: 35px;
    padding-left: 35px;
    padding-right: 35px;
    margin-left: auto;
    margin-right: 18px;
    margin-bottom: -18px;
    border: 1px solid #bfaf7a;
    border-radius: 20px;
    z-index: 10;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 3px;
      left: -14px;
      height: 100%;
      width: 100%;
      border: 1px solid #bfaf7a;
      border-radius: 20px;
      z-index: -1;
    }

    &::after {
      left: -7px;
    }

    @include respond-to(desktop) {
      display: flex;

    }
  }

  &__form-action {
    display: block;
    margin-bottom: 30px;
    font-size: 18px;
    text-transform: uppercase;

    @include respond-to(desktop) {
      padding-left: 30px;
    }
  }
}
