.designers {
  background-color: #fdfcef;
  overflow: hidden;
  @include respond-to(desktop) {
  }

  &__title-wrap,
  &__content-wrap {
    position: relative;
    max-width: 320px;
    margin: auto;
    
    @include respond-to(desktop) {
      max-width: 1080px;
    }
  }

  &__content-wrap {
    max-width: 320px;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 40px;

    @include respond-to(desktop) {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-around;
      max-width: 1030px;
      padding-top: 150px;
      padding-bottom: 215px;
    }
  }

  &__content {
    position: relative;
    background: url(../img/designers/designers-bg.jpg) 100% 100% no-repeat;
    background-size: cover;
    background-position: center;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
          -180deg,
          #fdfcef 0%,
          rgba(253, 252, 239, 0) 20%
        ),
        linear-gradient(180deg, rgba(253, 252, 239, 0) 60%, #fdfcef 100%);
    }
    @include respond-to(desktop) {
    }
  }

  &__img-wrap {
    position: relative;
    z-index: 3;

    &:first-child {
      margin-left: 12px;
    }

    &--designer-2 {
      margin-top: -116px;
      margin-left: 12px;
    }

    @include respond-to(desktop) {
      margin-bottom: -3px;

      &:first-child {
        margin-left: 0;
        margin-right: 280px;
      }

      &--designer-2 {
        margin-top: 0;
        margin-left: 0;
      }
    }
  }

  &__blockquote {
    position: absolute;
    top: -22px;
    left: 11px;
    padding: 15px;
    width: 275px;
    height: 87px;
    background-color: #ffffff;
    font-style: italic;
    font-size: 14px;
    text-align: right;

    &--designer-2 {
      top: 332px;
    }

    @include respond-to(desktop) {
      top: -40px;
      left: -50px;

      &--designer-2 {
        top: -60px;
        left: 65px;
        text-align: start;
      }
    }
  }

  &__desc {
    position: relative;
    bottom: 95px;
    z-index: 4;
    width: 100%;
    padding: 15px;
    background-color: #ffffff;
    box-shadow: 16px 10px 25px 2px rgba(0, 0, 1, 0.14);

    @include respond-to(desktop) {
      position: absolute;
      bottom: 275px;
      width: 380px;
    }
  }

  &__circle {
    @include respond-to(desktop) {
      position: absolute;
      right: calc(50% - 860px / 2);
      top: calc(50% - 900px / 2);
      width: 845px;
      height: 820px;
      background: url(../img/designers/circle.svg) 100% 100% no-repeat;
      background-size: contain;
    }
  }

  &__desc-wrap {
    padding: 40px 0;
    border: 1px solid #6b6b6b;
    background-color: #ffffff;
    @include respond-to(desktop) {
    }
  }

  &__title {
    position: relative;
    width: 220px;
    margin: auto;
    margin-bottom: 35px;
    font-family: "VogueHighline", serif;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;

    &::before {
      content: "";
      position: absolute;
      bottom: -18px;
      left: 40px;
      width: 145px;
      height: 1px;
      background-color: #000000;
    }
    @include respond-to(desktop) {
    }
  }

  &__text {
    width: 250px;
    margin: auto;
    font-size: 16px;
    font-style: italic;
    text-align: center;

    @include respond-to(desktop) {
    }
  }

  &__row {
    display: flex;
    width: 320px;
    margin: auto;
    margin-top: 40px;
    padding: 10px;
    background-color: #ffffff;
    z-index: 3;
    
    @include respond-to(desktop) {
      width: 100%;
      justify-content: center;
      align-items: center;
      height: 72px;
      padding: 0;
      margin-top: 0;
    }
  }

  &__row-left {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    border-right: 1px solid #000000;
    
    @include respond-to(desktop) {
      flex-direction: row;
      padding-right: 25px;
    }
  }

  &__row-right {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    
    @include respond-to(desktop) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__designer-desc {
    width: 145px;
    font-size: 12px;
    font-weight: 100;
    
    @include respond-to(desktop) {
      margin-right: 15px;
      text-align: right;
    }
  }

  &__row-right &__designer-desc {
    text-align: left;
    margin-right: 0;
    
    @include respond-to(desktop) {
      margin-left: 15px;
    }
  }

  &__designer-name {
    font-family: "VogueHighline", serif;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 10px;
    
    @include respond-to(desktop) {
      font-size: 22px;
      margin-bottom: 0;
    }
  }
}
